.todo-list {
  display: flex;
  flex-direction: column;
  align-items: left;
  width: max-content;
  margin: auto;
  padding-bottom: 1vh;
}

.todo-item {
  text-align: left;
}

.todo-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1vh;
}

.new-task-input {
  font-family: 'Titillium Web', sans-serif;
  width: 20vw;
}

button {
  box-shadow: lightgrey 0 2px;
  border: none;
  border-radius: 3px;
  font-family: 'Titillium Web', sans-serif;
  width: 20vw;
  margin: 15px;
}

.add-button {
  background-color: #f44336;
  color: whitesmoke;
  font-weight: 400;
  font-size: 100%;
}

.clear-button {
  background-color: #555555;
  border: none;
  color: whitesmoke;
  font-size: 80%;
}
