.auth-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.auth-form > * {
  display: block;
  margin: 5px;
  width: 10vw;
  min-width: 150px;
  max-width: 230px;
}

button {
  margin: 1%;
  color: white;
  background-color: darkslateblue;
}
