:root {
  --red: #e63946;
  --white: #f1faee;
  --blue-light: #a8dadc;
  --blue-mid: #457b9d;
  --blue-dark: #1d3557;
}

html {
  background: var(--blue-dark);
  height: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: 'Titillium Web', sans-serif;
}

.app-name {
  font-family: 'Fredoka One', sans-serif;
  font-size: 5rem;
  font-weight: 300;
  margin: 0;
  color: var(--white);
}

.subheader {
  font-family: 'Fredoka One', sans-serif;
  font-weight: 200;
  color: var(--blue-light);
}

.logout-button {
  text-align: right;
  color: var(--blue-light);
  width: 100%;
  right: 0;
  left: 80%;
  margin: 2vh 20vw 0 0;
}

.logout-button:hover {
  color: var(--red);
}
